{% extends 'base.html' %}
{% load static %}

{% block title %}
アクセス - NewElegant
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
<div class="map-container">
    <h1>アクセス</h1>
    <div id="map"></div>
</div>

<script>
    let map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 35.44919944, lng: 139.63117276 }, // Tokyo Station coordinates
            zoom: 12, // Adjust zoom level as needed
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa7WwDh7SHUUJHuzJt2ISncmsKMFN6tMU&callback=initMap" async defer></script>
{% endblock %}